footer {
  position: sticky;
  margin-top: 40px;
  grid-area: footer;
  text-align: center;
  align-self: center;
  background-color: #4248559f;

  p {
    font-weight: 600;
  }

  .contact-us {
    float: center;

    li {
      display: inline-block;
      margin: 0 5px;
      margin-top: 10px;

      a {
        i {
          color: #eee;
        }
      }
    }
  }

  .data-source {
    margin-top: 10px;

    a {
      color: #eee;
      text-decoration: underline;
    }
  }
}
