.SearchBar {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;

  // input {
  //   margin: 30px 70px;
  //   padding: 5px 10px;
  //   border-radius: 5px;
  //   outline: none;
  //   font-weight: bold;
  //   font-size: larger;
  //   border: none;
  // }

  *::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
  }

  *::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
  }

  .suggestions:hover {
    color: rgba(#c8d8e7, 0.5);
  }

  .suggestions {
    position: absolute;
    width: 380px;
    height: 130px;

    top: 105%;
    overflow: auto;
    text-align: center;
    color: rgba(#c8d8e7, 0.5);
    text-shadow: 0 0 black;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
    padding: 16px 16px;
    // background: linear-gradient(
    //   -67deg,
    //   rgba(#c8d8e7, 0.5),
    //   rgba(255, 255, 255, 0.6)
    // );
     box-shadow:
      -2px -2px 6px rgba(#c8d8e7, 0.5),
      2px 2px 12px rgba(255, 255, 255, 0.6);
    border-radius: 5px;

    .item {
      color: #c8d8e7;
      padding: 2px;
      margin: 5px 0;
    }
    .item:hover {
      background-color: rgba(122, 120, 120, 0.712);
      color: rgb(31,39,57);
      border-radius: 5px;
      cursor: pointer;
    }
  }
  @import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Hind&display=swap");

  :root {
    --border-radius: 10px;
  }


  .Card {
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(
      -67deg,
      rgba(#c8d8e7, 0.7),
      rgba(255, 255, 255, 0.8)
    );

    // box-shadow:
    //   -2px -2px 6px rgba(#fff, .6),
    //   2px 2px 12px #c8d8e7;
    margin-top: 2em;
    width: 380px;
  }

  .CardInner {
    padding: 16px 16px;
    background-color: #e2e9f4;
    border-radius: var(--border-radius);
  }

  .container {
    display: flex;
  }

  .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-right: 12px;
    box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;

    svg {
      transform: translate(-1px, -1px);
    }
  }

  label {
    font-family: "Hind", sans-serif;
    display: block;
    color: rgb(31,39,57);
    margin-bottom: 12px;
    background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .InputContainer {
    width: 100%;
  }

  input {
    background-color: #e3edf7;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;

    &::placeholder {
      color: #6d7f8f;
    }

    &:focus {
      outline: none;
      color:rgb(66, 73, 88);
      background-color: lighten(#e3edf7, 3%);
    }
  }

  .InputContainer {
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
    --bottom-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.7);

    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;

    &:before,
    &:after {
      left: 0;
      top: 0;
      display: block;
      content: "";
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &:before {
      box-shadow: var(--bottom-shadow);
    }

    &:after {
      box-shadow: var(--top-shadow);
    }
  }
}
